## Introduction to scikit-learn library

In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")
#warnings.filterwarnings("default")

In [3]:
import sklearn
sklearn.show_versions()

System:
    python: 3.10.2 (tags/v3.10.2:a58ebcc, Jan 17 2022, 14:12:15) [MSC v.1929 64 bit (AMD64)]
executable: c:\Users\Sejal\AppData\Local\Programs\Python\Python310\python.exe
   machine: Windows-10-10.0.22631-SP0

Python dependencies:
      sklearn: 1.1.2
          pip: 24.0
   setuptools: 69.1.1
        numpy: 1.26.3
        scipy: 1.9.1
       Cython: None
       pandas: 2.2.0
   matplotlib: 3.6.0
       joblib: 1.2.0
threadpoolctl: 3.1.0

Built with OpenMP: True

threadpoolctl info:
       user_api: blas
   internal_api: openblas
         prefix: libopenblas
       filepath: C:\Users\Sejal\AppData\Local\Programs\Python\Python310\Lib\site-packages\numpy.libs\libopenblas64__v0.3.23-293-gc2f4bdbb-gcc_10_3_0-2bde3a66a51006b2b53eb373ff767a3f.dll
        version: 0.3.23.dev
threading_layer: pthreads
   architecture: Haswell
    num_threads: 8

       user_api: openmp
   internal_api: openmp
         prefix: vcomp
       filepath: C:\Users\Sejal\AppData\Local\Programs\Python\Python310\Lib\site-packages\sklearn\.libs\vcomp140.dll
        version: None
    num_threads: 8

       user_api: blas
   internal_api: openblas
         prefix: libopenblas
       filepath: C:\Users\Sejal\AppData\Local\Programs\Python\Python310\Lib\site-packages\scipy\.libs\libopenblas.PZA5WNOTOH6FZLB2KBVKAURAKVTFSNNU.gfortran-win_amd64.dll
        version: 0.3.18
threading_layer: pthreads
   architecture: Haswell
    num_threads: 8

In [4]:
heart=pd.read_csv('breast-cancer.csv')

In [5]:
heart

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [6]:
x=heart.drop("diagnosis",axis=1)

In [7]:
y=heart["diagnosis"]

In [8]:
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test =train_test_split(x,y,test_size=0.2)

In [10]:
clf.fit(X_train,Y_train)

RandomForestClassifier()

In [11]:
y_preds=clf.predict(X_test)
y_preds

array(['B', 'M', 'B', 'M', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'B',
       'M', 'M', 'B', 'B', 'M', 'B', 'B', 'M', 'M', 'B', 'B', 'B', 'M',
       'M', 'B', 'M', 'B', 'M', 'B', 'M', 'M', 'M', 'B', 'B', 'B', 'B',
       'M', 'B', 'M', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'M', 'M', 'B',
       'M', 'M', 'B', 'B', 'B', 'B', 'B', 'B', 'M', 'B', 'M', 'B', 'M',
       'B', 'B', 'M', 'M', 'B', 'B', 'B', 'M', 'M', 'B', 'M', 'M', 'B',
       'B', 'B', 'B', 'M', 'M', 'B', 'B', 'B', 'M', 'M', 'M', 'B', 'M',
       'B', 'B', 'B', 'M', 'M', 'B', 'M', 'B', 'M', 'B', 'M', 'M', 'M',
       'M', 'M', 'B', 'B', 'B', 'B', 'M', 'M', 'B', 'B'], dtype=object)

In [12]:
Y_test

456    B
43     M
227    B
514    M
469    B
      ..
459    B
33     M
30     M
267    B
49     B
Name: diagnosis, Length: 114, dtype: object

In [13]:
clf.score(X_train,Y_train)

1.0

In [14]:
clf.score(X_test,Y_test)

0.9736842105263158

In [15]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score

print(classification_report(Y_test,y_preds))

              precision    recall  f1-score   support

           B       0.98      0.97      0.98        67
           M       0.96      0.98      0.97        47

    accuracy                           0.97       114
   macro avg       0.97      0.97      0.97       114
weighted avg       0.97      0.97      0.97       114

In [16]:
confusion_matrix(Y_test,y_preds)

array([[65,  2],
       [ 1, 46]], dtype=int64)

In [17]:
accuracy_score(Y_test,y_preds)

0.9736842105263158

In [18]:
np.random.seed(42)
for i in range(10,110,10):
    print(f"trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,Y_test)} *100.2f% ")
    print(" ")

trying model with 10 estimators...
Model accuracy on test set: 0.9824561403508771 *100.2f%

trying model with 20 estimators...
Model accuracy on test set: 0.9736842105263158 *100.2f%

trying model with 30 estimators...
Model accuracy on test set: 0.9824561403508771 *100.2f%

trying model with 40 estimators...
Model accuracy on test set: 0.956140350877193 *100.2f%

trying model with 50 estimators...
Model accuracy on test set: 0.9824561403508771 *100.2f%

trying model with 60 estimators...
Model accuracy on test set: 0.9824561403508771 *100.2f%

trying model with 70 estimators...
Model accuracy on test set: 0.9912280701754386 *100.2f%

trying model with 80 estimators...
Model accuracy on test set: 0.9736842105263158 *100.2f%

trying model with 90 estimators...
Model accuracy on test set: 0.9824561403508771 *100.2f%

trying model with 100 estimators...
Model accuracy on test set: 0.9649122807017544 *100.2f%

In [19]:
import pickle

pickle.dump(clf,open("random_forest_model.pkl","wb"))

In [20]:
loaded_model=pickle.load(open("random_forest_model.pkl","rb"))

In [21]:
loaded_model.score(X_test,Y_test)

0.9649122807017544

## Convert categorical to numerical

In [9]:
car_sales=pd.read_csv("car-sales.csv")

In [10]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [11]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [32]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [33]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [35]:
car_sales['Price'] = car_sales['Price'].astype(str)

# Remove dollar signs and commas, then split on the period to remove decimals
car_sales['Price'] = car_sales['Price'].str.replace('$', '').str.replace(',', '').str.split('.').str[0]

# Convert the cleaned strings to integers
car_sales['Price'] = car_sales['Price'].astype(int)

In [36]:
x1=car_sales.drop("Price",axis=1)
y1=car_sales["Price"]

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
xtrain, xtest, ytrain, ytest=train_test_split(x1,y1, random_state=42, test_size=0.25)

In [39]:
from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor()
model.fit(xtrain, ytrain)
model.score(xtest,ytest)

ValueError: could not convert string to float: 'Toyota'

In [29]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [30]:
categorical_features=["Make","Colour","Doors"]
onehot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot", onehot,categorical_features)],remainder='passthrough')

In [42]:
transformed_x=transformer.fit_transform(x1)

In [43]:
x1

     Make Colour  Odometer (KM)  Doors
0  Toyota  White         150043      4
1   Honda    Red          87899      4
2  Toyota   Blue          32549      3
3     BMW  Black          11179      5
4  Nissan  White         213095      4
5  Toyota  Green          99213      4
6   Honda   Blue          45698      4
7   Honda   Blue          54738      4
8  Toyota  White          60000      4
9  Nissan  White          31600      4

In [44]:
transformed_x

array([[0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 1.50043e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 8.78990e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 3.25490e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 1.11790e+04],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 2.13095e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 9.92130e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 4.56980e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 5.47380e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 6.00000e+04],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 3.16000e+04]])

In [45]:
x_transformed=pd.DataFrame(transformed_x)

In [46]:
x_transformed

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  150043.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0   87899.0
2  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0   32549.0
3  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   11179.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  213095.0
5  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0   99213.0
6  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   45698.0
7  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   54738.0
8  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   60000.0
9  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   31600.0

In [47]:
dummies=pd.get_dummies(car_sales[['Make','Colour','Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,False,False,True,False,False,False,False,True
1,4,False,True,False,False,False,False,False,True,False
2,3,False,False,False,True,False,True,False,False,False
3,5,True,False,False,False,True,False,False,False,False
4,4,False,False,True,False,False,False,False,False,True
5,4,False,False,False,True,False,False,True,False,False
6,4,False,True,False,False,False,True,False,False,False
7,4,False,True,False,False,False,True,False,False,False
8,4,False,False,False,True,False,False,False,False,True
9,4,False,False,True,False,False,False,False,False,True

In [48]:
np.random.seed(42)
x_train,x_test,y_train,y_test=train_test_split(x_transformed,y1,test_size=0.2)
model.fit(x_train,y_train)

RandomForestRegressor()

In [49]:
model.score(x_test,y_test)

-1.2793638399999998

## Filling missing values

In [4]:
car=pd.read_csv('car-sales-extended.csv')
car

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0      NaN
4    Nissan    NaN       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996  Nissan  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [5]:
car.isna().sum()

Make              0
Colour           12
Odometer (KM)    11
Doors             7
Price            10
dtype: int64

In [6]:
X=car.drop("Price",axis=1)
Y=car['Price']

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         988 non-null    object
 2   Odometer (KM)  989 non-null    float64
 3   Doors          993 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

In [8]:
Y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Price
Non-Null Count  Dtype
--------------  -----
990 non-null    float64
dtypes: float64(1)
memory usage: 7.9 KB

In [9]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [10]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         988 non-null    object
 2   Odometer (KM)  989 non-null    float64
 3   Doors          993 non-null    float64
 4   Price          990 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [11]:
cat_features = ['Make','Colour']
door_features = ['Doors']
num_features =['Odometer (KM)']

In [12]:
cat_imputer=SimpleImputer(strategy='constant',fill_value='missing')
door_imputer=SimpleImputer(strategy='constant',fill_value=4)

num_imputers = SimpleImputer(strategy='mean')

In [13]:
imputer=ColumnTransformer([
    ('cat_imputer',cat_imputer,cat_features),
    ('door_imputer',door_imputer,door_features),
    ('num_imputers',num_imputers,num_features)
])

filledX=imputer.fit_transform(X)

In [14]:
filledX

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [15]:
car_sales_filled=pd.DataFrame(filledX, columns=['Make', 'Colour', 'Doors', 'Odometer (KM)'])

In [16]:
car_sales_filled.head()

     Make   Colour Doors Odometer (KM)
0   Honda    White   4.0       35431.0
1     BMW     Blue   5.0      192714.0
2   Honda    White   4.0       84714.0
3  Toyota    White   4.0      154365.0
4  Nissan  missing   3.0      181577.0

In [17]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [23]:
Y.fillna(method='ffill', inplace=True)

In [24]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

onehot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',onehot,cat_features)],remainder='passthrough')

transformed_X=transformer.fit_transform(car_sales_filled)
transformed_X

array([[0.0, 1.0, 0.0, ..., 0.0, 4.0, 35431.0],
       [1.0, 0.0, 0.0, ..., 0.0, 5.0, 192714.0],
       [0.0, 1.0, 0.0, ..., 0.0, 4.0, 84714.0],
       ...,
       [0.0, 0.0, 1.0, ..., 0.0, 4.0, 66604.0],
       [0.0, 1.0, 0.0, ..., 0.0, 4.0, 215883.0],
       [0.0, 0.0, 0.0, ..., 0.0, 4.0, 248360.0]], dtype=object)

In [25]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [26]:
xtrain,xtest,ytrain,ytest=train_test_split(transformed_X,Y,test_size=0.2,random_state=42)

In [27]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((800, 12), (200, 12), (800,), (200,))

In [28]:
model=RandomForestRegressor()
model.fit(xtrain,ytrain)

RandomForestRegressor()

In [29]:
model.score(xtest,ytest)

0.31511662587811773